:root {
    --primary-light: #6fb4eb;
    --primary: #3E99E5;
    --primary-dark: #0e5793;
    --secondary: #61b64f;
    --warning: #E7475E;
    --text: #444;
    --light: #fff;
}
body {
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: helvetica, tahoma, arial;
    font-size: 14px;
    padding-top: 50px;
    color: var(--text);
    background-color: #eee;
}
* {
    cursor: default;
}
*[onclick],
*[onclick] > * {
    cursor: pointer;
}
h1 {
    font-size: 2rem;
    font-weight: 400;
}
h2 {
    font-size: 1.5rem;
    font-weight: normal;
}
h4 {
    font-size: 1.2rem;
    font-weight: 500;
}
p, li {
    font-size: 1.2rem;
}
a,
a:hover,
a:visited,
a:active {
    color: var(--primary);
    cursor: pointer;
}
.ffc-logo {
    height: 30px;
    margin: 10px 20px;
    vertical-align: middle;
}
.ffc-nav {
    background-color: #eee;
    font-size: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 90;
}
.ffc-menu {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 0;
    background-color: white;
    height: calc(100vh);
    animation: center-animate 1s ease;
    overflow: hidden;
}
.ffc-menu.opened {
    width: 50%;
}
.ffc-nav .ffc-menu, .ffc-nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.ffc-nav .ffc-menu li a {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    display: inline-block;
}
.ffc-nav .ffc-menu li a,
.ffc-nav .ffc-menu li a:hover,
.ffc-nav .ffc-menu li a:active,
.ffc-nav .ffc-menu li a:visited {
    color: var(--primary);
    width: 100%;
}
.ffc-nav .ffc-menu li a:hover {
    color: var(--light);
    background-color: var(--primary-dark);
}
#ffc-menu-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh);
    background-color: rgba(0,0,0,.5);
    z-index: 98;
}
#ffc-menu-bg.opened {
    display: block;
}
.ffc-hero {
    position: relative;
    height: 500px;
    overflow-y: hidden;
}
.ffc-hero-content {
    position: relative;
    z-index: 2;
    width: 100%;
    text-align: center;
}
.ffc-hero-bg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 500px;
    background-color: var(--primary-light);
    filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#6fb4eb', endColorstr='#1B79C5');
    background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, var(--primary-light)), color-stop(100%, var(--primary-dark)));
    background-image: -webkit-linear-gradient(135deg, var(--primary-light), var(--primary-dark));
    background-image: -moz-linear-gradient(45deg, var(--primary-light), var(--primary-dark));
    background-image: -ms-linear-gradient(45deg, var(--primary-light) 0, var(--primary-dark) 100%);
    background-image: -o-linear-gradient(45deg, var(--primary-light), var(--primary-dark));
    background-image: linear-gradient(135deg, var(--primary-light), var(--primary-dark));
    text-align: center;
    margin: 0px;
    overflow: hidden;
}
.ffc-hero h1 {
    margin: 30px;
    font-size: 2.6rem;
}
.ffc-hero h1, 
.ffc-hero h2 {
    color: var(--light);
}
.ffc-hero h2 {
    max-width: 300px;
    margin: 0 auto 40px;
    font-size: 1.2rem;
}
.ffc-hero span {
    display: inline-block;
    width: 80px;
    height: 80px;
    color: #fff;
}
.ffc-hero span img {
    width: 100%;
    filter: invert(100%);
}
.ffc-nav-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 24px;
    font-size: 1.3rem;
    line-height: 50px;
}
#intro {
    background-color: #ddd;
}
#how {
    background-color: var(--secondary);
    color: var(--light);
    min-height: 400px;
}
#how blockquote h2 {
    color: var(--light);
    font-style: italic;
}
#team {
    background-color: #ddd;
    min-height: 400px;
}
#caseStudy {
    background-color: var(--primary);
    color: var(--light);
    min-height: 400px;
}
#contact {
    background-color: #777;
    color: var(--light);
    line-height: 44px;
}
#contact h1 {
    margin-bottom: 20px;
}
.ffc-card {
    display: inline-block;
    background-color: #fff;
    margin-right: 60px;
    margin-bottom: 40px;
    width: 240px;
    height: auto;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.35);
}

.ffc-card h3 {
    padding: 5px 20px;
    font-size: 1.3rem;
}

.ffc-card p {
    padding: 0 20px;
    font-size: 1rem;
}
.ffc-capacity {
    display: inline-block;
    margin-bottom: 10px;
    font-style: italic;
    color: #aaa;
}
#contact a,
#contact a:active,
#contact a:visited,
#contact a:hover,
#contact a:hover {
    color: white;
}



@media screen and (min-width: 768px) {
    body {
        padding-top: 0;
    }
    .ffc-nav {
        position: relative;
        background-color: var(--light);
    }
    .ffc-hero h1 {
        margin-top: 60px;
        font-size: 3rem;
    }
    .ffc-hero h2 {
        max-width: 440px;
        font-size: 1.5rem;
    }
    #ffc-menu-bg.opened {
        display: none;
    }
    #ffc-menu-bg {
        display: none;
    }
    .ffc-nav .ffc-menu {
        position: relative;
        width: auto;
        height: auto;
        display: inline-block;
        vertical-align: middle;
    }
    .ffc-nav .ffc-menu, .ffc-nav li {
        display: inline-block;
    }
}
.ffc-button {
    display: inline-block;
    border: 1px solid white;
    background-color: #61b64f;
    padding: 0 40px;
    line-height: 44px;
    text-transform: uppercase;
    font-weight: bold;
}