:root {
  --primary-light: #6fb4eb;
  --primary: #3e99e5;
  --primary-dark: #0e5793;
  --secondary: #61b64f;
  --warning: #e7475e;
  --text: #444;
  --light: #fff;
}
html {
  font-size: 10px;
}
body {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: helvetica, tahoma, arial;
  padding-top: 40px;
  color: var(--text);
  background-color: #eee;
}
* {
  cursor: default;
  font-size: 1.6rem;
}
*[onclick],
*[onclick] > * {
  cursor: pointer;
}
h1 {
  font-size: 2rem;
  font-weight: 400;
}
h2 {
  font-size: 2.5rem;
  font-weight: normal;
}
h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
a,
a:hover,
a:visited,
a:active {
  color: var(--primary);
  cursor: pointer;
}
main {
  max-width: 920px;
  margin: 0 auto;
}
main h1 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 15px 0;
  color: #145890;
}
.ffc-logo {
  height: 26px;
  margin: -1px 6px 0 10px;
  vertical-align: middle;
}
.ffc-nav {
  background-color: #145890;
  height: 44px;
  font-size: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 90;
}
.ffc-nav span {
  font-size: 2rem;
  color: #fff;
  display: inline-block;
  font-weight: bolder;
  line-height: 44px;
  vertical-align: middle;
}
.ffc-nav span:last-of-type {
  font-weight: 200;
  margin-top: -1px;
  margin-left: 7px;
}
.ffc-nav .ffc-menu,
.ffc-nav li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
.ffc-menu {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 0;
  background-color: #145890;
  height: calc(100vh);
  animation: center-animate 1s ease;
  overflow: hidden;
  padding-right: 20px;
}
.ffc-menu.opened {
  width: 50%;
}
.ffc-nav .ffc-menu li a {
  padding: 0 20px;
  line-height: 44px;
  text-decoration: none;
  display: inline-block;
}
.ffc-nav .ffc-menu li a,
.ffc-nav .ffc-menu li a:hover,
.ffc-nav .ffc-menu li a:active,
.ffc-nav .ffc-menu li a:visited {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #fff;
  width: 100%;
}
.ffc-nav .ffc-menu li a:hover {
  color: var(--primary-dark);
  background-color: var(--light);
}
#ffc-menu-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
}
#ffc-menu-bg.opened {
  display: block;
}
.ffc-hero {
  position: relative;
  height: 500px;
  overflow-y: hidden;
}
.ffc-hero-content {
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: center;
}
.ffc-hero-bg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 500px;
  background-color: var(--primary-light);
  filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#6fb4eb', endColorstr='#1B79C5');
  background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
  background-size: 100%;
  background-image: -webkit-gradient(
    linear,
    0 0,
    100% 100%,
    color-stop(0, var(--primary-light)),
    color-stop(100%, var(--primary-dark))
  );
  background-image: -webkit-linear-gradient(
    135deg,
    var(--primary-light),
    var(--primary-dark)
  );
  background-image: -moz-linear-gradient(
    45deg,
    var(--primary-light),
    var(--primary-dark)
  );
  background-image: -ms-linear-gradient(
    45deg,
    var(--primary-light) 0,
    var(--primary-dark) 100%
  );
  background-image: -o-linear-gradient(
    45deg,
    var(--primary-light),
    var(--primary-dark)
  );
  background-image: linear-gradient(
    135deg,
    var(--primary-light),
    var(--primary-dark)
  );
  text-align: center;
  margin: 0px;
  overflow: hidden;
}
.ffc-hero h1 {
  font-size: 2.6rem;
}
.ffc-hero h1,
.ffc-hero h2 {
  color: var(--light);
}
.ffc-hero h2 {
  max-width: 90%;
  margin: 80px auto 40px;
  font-size: 1.8rem;
}
.ffc-hero span {
  display: inline-block;
  width: 180px;
  height: 80px;
  color: #fff;
}
.ffc-hero span img {
  width: 60px;
  filter: invert(100%);
}
.ffc-nav-icon {
  position: absolute;
  top: -5px;
  right: 0px;
  padding: 0 24px;
  font-size: 1.9rem;
  line-height: 50px;
  color: #ddd;
}
#intro {
  background-color: #ddd;
}
.strong {
  font-weight: bolder;
}
#how {
  background-color: #ffe25e;
}
#how blockquote h2 {
  color: var(--light);
  font-style: italic;
}
#how .cell {
  position: relative;
}
#how p {
  z-index: 2;
  position: relative;
}
.bg-number {
  z-index: 1;
  position: absolute;
  font-size: 150px;
  color: #fff;
  top: -30px;
  left: 35%;
  font-weight: bolder;
  opacity: 0.5;
}
#team {
  background-color: #ddd;
  min-height: 400px;
}
#caseStudy {
  min-height: 400px;
}
.cropped-img {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin-bottom: 20px;
}
.cropped-img img {
  position: absolute;
  bottom: 0;
}
#contact {
  background-color: #145890;
  color: var(--light);
  line-height: 44px;
}
#contact h1 {
  color: #fff;
  margin-bottom: 20px;
}
#contact .ffc-button {
  background-color: #ffe25e;
  color: #000 !important;
  font-size: 1.3rem;
}
.ffc-card-group {
  display: inline-block;
  background-color: #fff;
  margin-right: 60px;
  margin-bottom: 40px;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.35);
}
.ffc-card {
  display: inline-block;
  width: 210px;
  margin: 4px 8px;
  text-align: center;
}
.ffc-card img {
  margin-top: 10px;
  border-radius: 50%;
}
.glide__arrow {
  background-color: #bbb !important;
  padding: 25px 15px !important;
}
.glide__arrow--left {
  left: -2.2em !important;
}
.glide__arrow--right {
  right: -2.2em !important;
}
.ffc-card h3 {
  padding: 5px 20px;
  font-size: 1.6rem;
  color: var(--primary-dark);
  font-weight: bold;
  margin: 5px 0 0 0;
  padding: 0;
}
.ffc-card p {
  padding: 0 20px;
  font-size: 1.2rem;
  text-align: left;
}
.ffc-capacity {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  white-space: nowrap;
  margin-bottom: 15px;
  font-style: italic;
  color: #999;
}
#contact a,
#contact a:active,
#contact a:visited,
#contact a:hover,
#contact a:hover {
  color: white;
}
#description {
  position: relative;
  height: 550px;
  overflow: hidden;
  background-color: #f0d861;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='844' height='703.3' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}
#description div {
    margin: auto;
    position: absolute;
    top: 10%;
    left: calc(-15%);
    bottom: 0;
    right: 0;
  font-size: 4rem;
  z-index: 4;
  width: 280px;
  color: #FFF;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.61);
}
#description img {
    margin: auto;
    position: absolute;
    top: 20%;
    left: calc(15%);
    bottom: 0;
    right: 0;
  width: 350px;
  z-index: 2;
  height: auto;
  opacity: .2;
}
#solutions {
  background-color: #ddd;
}
#solutions h4 {
  font-size: 1.6rem;
  margin-top: 20px;
  font-weight: bolder;
}
.ffc-button {
  display: inline-block;
  border: 1px solid white;
  background-color: #61b64f;
  padding: 0 40px;
  line-height: 44px;
  text-transform: uppercase;
  font-weight: bold;
}
#faq {
  background-color: #ddd;
}
#faq h2 {
  font-size: 1.6rem;
  font-weight: bolder;
}
.ffc-margin-horizontal-3 {
    padding-right: 30px;
    padding-left: 30px;
}
footer {
  text-align: center;
  height: 200px;
  padding: 50px 0 100px;
  line-height: 44px;
}
footer a {
  color: #145890;
}
footer p {
  color: #777;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 40px;
  }
  .ffc-nav {
    position: fixed;
    background-color: #145890;
  }
  .glide__arrow--left {
    left: -5em !important;
  }
  .glide__arrow--right {
    right: -5em !important;
  }
  .ffc-logo {
    height: 28px;
    margin: -1px 6px 0 20px;
    vertical-align: middle;
  }
  .ffc-hero h1 {
    margin-top: 60px;
    font-size: 3rem;
  }
  .ffc-hero h2 {
    max-width: 300px;
    margin: 80px auto 40px;
    font-size: 1rem;
  }
  .ffc-hero h2 {
    max-width: 560px;
    font-size: 2rem;
  }
  #ffc-menu-bg.opened {
    display: none;
  }
  #ffc-menu-bg {
    display: none;
  }
  .ffc-nav .ffc-menu {
    position: relative;
    float: right;
    width: auto;
    height: auto;
    padding-right: 20px;
    vertical-align: middle;
  }
  .ffc-nav .ffc-menu,
  .ffc-nav li {
    display: inline-block;
  }
  .ffc-nav-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 24px;
    font-size: 1.3rem;
    line-height: 50px;
  }
  .ffc-margin-horizontal-3 {
      padding-right: initial;
      padding-left: initial;
  }
  #contact .ffc-button {
    font-size: 1.5rem;
  }
  #description img {
    opacity: .4;
  }
}
